# City of New Orleans' 311 Call Center Data

In [1]:
# import pandas... obviously
import pandas as pd

## Import Data

In [2]:
# read in our raw CSV to DataFrame
calls = pd.read_csv("311_Calls__2012-Present_.csv")

In [3]:
# examine the first 5 rows
calls.head()

,ticket_id,issue_type,ticket_created_date_time,ticket_closed_date_time,ticket_status,issue_description,street_address,neighborhood_district,council_district,city,state,zip_code,location,geom,latitude,longitude
0,101000514635,Illegal Dumping Reporting,03/08/2016 11:33:41 AM,05/16/2016 11:41:40 AM,Closed,Tires: No | Ch 66: No | Details of items dumpe...,BUCHANAN ST & MILTON ST,ST. BERNARD AREA,D,NEW ORLEANS,LA,70122.0,"(29.9956186639096, -90.0805943549403)",NaN,29.995619,-90.080594
1,101000214475,Tree Service,01/02/2014 02:43:17 PM,03/10/2015 09:27:54 AM,Closed,| Type of Tree: OAK | Branches Hanging: Yes | ...,920 WILSON DR,CITY PARK,A,NEW ORLEANS,LA,70119.0,"(29.9790729872945, -90.0909666218954)",NaN,29.979073,-90.090967
2,101000048763,Code Enforcement General Request,09/04/2012 03:09:52 PM,09/18/2012 11:40:18 AM,Closed,| Unoccupied: Yes | Partly Collapsed: Yes | Tr...,S ALEXANDER ST & CANAL ST,MID-CITY,A,NEW ORLEANS,LA,70119.0,"(29.9768313625105, -90.1041916433695)",NaN,29.976831,-90.104192
3,101000593621,Pothole/Roadway Surface Repair,09/14/2016 09:43:00 AM,09/14/2016 10:05:02 AM,Closed,Street area affected: Travel Lane / Roadway | ...,2900 Dublin St,LEONIDAS,A,NEW ORLEANS,LA,70118.0,"(29.9605592973973, -90.1174956731646)",NaN,29.960559,-90.117496
4,101000751465,Code Enforcement General Request,11/17/2017 02:18:00 PM,11/17/2017 03:30:05 PM,Closed,| Unoccupied: Yes | Trash/Debris: Yes | Rats/R...,7110 Downman Rd,PINES VILLAGE,D,NEW ORLEANS,LA,70126.0,"(30.023804279566, -90.0240518258462)",NaN,30.023804,-90.024052

## Remove non-geocoded rows

In [4]:
# get the number of rows in our DataFrame
len(calls)

263782

In [5]:
# get the count of unique locations
len(calls.location.unique())

102550

In [6]:
# create a new DataFrame from calls where the location below removed
calls_nocontact = calls[calls.location != '(530187.70942, 3678691.8167)']

In [7]:
# check the number of rows in our new DataFrame
len(calls_nocontact)

251139

In [8]:
# check the number of unique locations
# should be 1 less than the calls DataFrame
len(calls_nocontact.location.unique())

102549

## Examine columns for analysis

In [9]:
# display the unique values with counts for issue_type
calls_nocontact.issue_type.value_counts()

Code Enforcement General Request       38499
Street Light                           33502
Trash/Garbage Pickup                   30632
Abandoned Vehicle Reporting/Removal    26225
Residential Recycling Programs         24166
Large Item Trash/Garbage Pickup        20144
Pothole/Roadway Surface Repair         15289
Illegal Dumping Reporting              10181
Street Flooding/Drainage                8993
Catch Basin Maintenance                 7465
Tree Service                            7119
Traffic Sign                            3995
Traffic Signal                          3789
Rodent Complaint                        3374
Sidewalk Repair                         2769
Subsidence                              2477
Mosquito Control                        2177
Tree Service Emergency                  2149
Dead Animal Pickup                      1365
Street Name Sign                        1352
Tree Maintenance                        1206
Manhole Cover Maintenance               1034
Road Shoulder Repair                     893
Grass Service                            707
Road Surface Marking                     431
General Service Request                  389
Non Rodent Complaint                     345
Curb Repair                              205
Park Maintenance                         169
Occupancy Inspection                      80
NORDC Park Maintenance                     9
NORDC Park Complaint                       6
NORDC Grass Service                        3
Name: issue_type, dtype: int64

In [10]:
# Display unique values with counts for ticket_status
calls_nocontact.ticket_status.value_counts()

Closed    229740
Open       21399
Name: ticket_status, dtype: int64

In [11]:
# display unique values with counts for neighborhood_district
calls_nocontact.neighborhood_district.value_counts()

LITTLE WOODS                  13954
MID-CITY                      10590
SEVENTH WARD                   9609
CENTRAL CITY                   9199
AUDUBON                        8750
ST. ROCH                       7529
ST. CLAUDE                     7351
LAKEVIEW                       7320
OLD AURORA                     7065
GENTILLY TERRACE               5871
LEONIDAS                       5817
LOWER NINTH WARD               5592
TREME - LAFITTE                5085
UPTOWN                         4852
BROADMOOR                      4627
MILAN                          4424
CENTRAL BUSINESS DISTRICT      4411
HOLLYGROVE                     4399
READ BLVD EAST                 4024
LOWER GARDEN DISTRICT          3979
FILLMORE                       3941
BEHRMAN                        3928
TALL TIMBERS - BRECHTEL        3772
FAIRGROUNDS                    3724
WEST RIVERSIDE                 3607
MARLYVILLE - FONTAINBLEAU      3525
FRENCH QUARTER                 3379
DILLARD                        3371
BYWATER                        3360
MILNEBURG                      3261
                              ...
FLORIDA AREA                   2207
EAST RIVERSIDE                 2200
LAKESHORE - LAKE VISTA         2193
NAVARRE                        2166
NEW AURORA - ENGLISH TURN      2158
TOURO                          2006
GENTILLY WOODS                 1856
PONTCHARTRAIN PARK             1780
McDONOGH                       1756
FRERET                         1722
ALGIERS POINT                  1721
GARDEN DISTRICT                1526
WHITNEY                        1389
LAKEWOOD                       1347
DIXON                          1301
BLACK PEARL                    1144
LAKE TERRACE & OAKS            1139
ST. BERNARD AREA               1080
U.S. NAVAL BASE                 898
FILMORE                         848
VIAVANT                         779
ST. THOMAS DEV                  763
MARLYVILLE - FONTAINEBLEAU      705
LAKE CATHERINE                  528
VIAVANT - VENETIAN ISLES        491
B. W. COOPER                    436
FISCHER DEV                     306
DESIRE DEV                      145
IBERVILLE                        69
FLORIDA DEV                      36
Name: neighborhood_district, Length: 76, dtype: int64

In [12]:
# display unique values with counts for street_address
calls_nocontact.street_address.value_counts()

MORRISON RD & GANNON RD                         73
DESIRE PKWY & CHEF MENTEUR HWY                  71
1300 PERDIDO ST                                 70
BULLARD AVE & LAKE FOREST BLVD                  66
TULLIS DR & LENNOX BLVD                         61
ST CHARLES AVE & STATE ST                       59
BEHRMAN HWY & TULLIS DR                         57
MARTIN LUTHER KING JR BLVD & S CLAIBORNE AVE    53
WASHINGTON AVE & PRYTANIA ST                    49
LEON C SIMON DR & FRANKLIN AVE                  48
CHEF MENTEUR HWY & LOUISA ST                    48
EXPEDITION DR & MICHOUD BLVD                    44
CHEF MENTEUR HWY & INDUSTRIAL PKWY              44
FLORENCE AVE & DE ARMAS ST                      43
MORRISON RD & PARIS RD                          43
MARCONI DR & FILMORE AVE                        42
I 10 E & MORRISON EXIT                          41
GENERAL DE GAULLE DR & HOLIDAY DR               41
MICHOUD BLVD & W CAVELIER DR                    40
HOLIDAY DR & GENERAL DE GAULLE DR               40
I 10 E SERVICE RD & BULLARD AVE                 38
PRESS DR & LEON C SIMON DR                      38
LAKE FOREST BLVD & BUNDY RD                     38
WISNER BLVD & FILMORE AVE                       37
WISNER BLVD & DESAIX BLVD                       37
N CLAIBORNE AVE & POLAND AVE                    37
MOSS ST & ESPLANADE AVE                         37
GRAVIER ST & CARONDELET ST                      36
ST CLAUDE AVE & ELYSIAN FIELDS AVE              36
FELICITY ST & ST CHARLES AVE                    33
                                                ..
2223 Milan St                                    1
1304 St Roch Ave                                 1
8701 COHN ST                                     1
5510 Rickert Dr                                  1
4705 URQUHART ST                                 1
2933 St Philip St                                1
821 JACKSON AVE                                  1
2914 MAUREPAS ST                                 1
5323 Memphis St                                  1
6221 MARIGNY ST                                  1
1106 Napoleon Ave                                1
756 CITY PARK AVE                                1
2309 Prentiss Ave                                1
522 S St Patrick St                              1
524 WARRINGTON DR                                1
1106 CRETE ST                                    1
3820 Blair St                                    1
1319 S DORGENOIS ST                              1
1108 Treme St                                    1
2752 Orleans Ave                                 1
7040 Crowder Blvd                                1
629 Lamanche St                                  1
2519 URSULINES AVE                               1
1815 Martin Luther King, Jr. Blvd                1
4667 Camelot Dr                                  1
BELLAIRE DR & W KENILWORTH ST                    1
818 SLIDELL ST                                   1
2822 BANKS ST                                    1
3700 ROYAL ST                                    1
5401S Claiborne                                  1
Name: street_address, Length: 130545, dtype: int64

In [13]:
# display unique values with counts for zip_code
calls_nocontact.zip_code.value_counts()

70119.0    28828
70117.0    28258
70115.0    25454
70122.0    24200
70118.0    23388
70126.0    16740
70124.0    16085
70125.0    12235
70114.0    11600
70116.0    11381
70131.0    11381
70127.0    11024
70130.0    10265
70128.0     7836
70113.0     5675
70129.0     3506
70112.0     3184
70005.0       31
70163.0       26
70001.0        8
70139.0        6
70037.0        4
70121.0        2
70053.0        1
Name: zip_code, dtype: int64

In [14]:
# display unique values with counts for council_district
calls_nocontact.council_district.value_counts()

D    59390
A    57035
B    55550
C    40899
E    38255
Name: council_district, dtype: int64

## Create new dataframe with selected columns

In [15]:
# create a new DataFrame
# drop columns we don't plan to use to reduce the overall DataFrame size
calls_nocontact_simp = calls_nocontact.drop(columns=['ticket_id', 'issue_description', 'city', 'state', 'location', 'geom'])
calls_nocontact_simp.head()

,issue_type,ticket_created_date_time,ticket_closed_date_time,ticket_status,street_address,neighborhood_district,council_district,zip_code,latitude,longitude
0,Illegal Dumping Reporting,03/08/2016 11:33:41 AM,05/16/2016 11:41:40 AM,Closed,BUCHANAN ST & MILTON ST,ST. BERNARD AREA,D,70122.0,29.995619,-90.080594
1,Tree Service,01/02/2014 02:43:17 PM,03/10/2015 09:27:54 AM,Closed,920 WILSON DR,CITY PARK,A,70119.0,29.979073,-90.090967
2,Code Enforcement General Request,09/04/2012 03:09:52 PM,09/18/2012 11:40:18 AM,Closed,S ALEXANDER ST & CANAL ST,MID-CITY,A,70119.0,29.976831,-90.104192
3,Pothole/Roadway Surface Repair,09/14/2016 09:43:00 AM,09/14/2016 10:05:02 AM,Closed,2900 Dublin St,LEONIDAS,A,70118.0,29.960559,-90.117496
4,Code Enforcement General Request,11/17/2017 02:18:00 PM,11/17/2017 03:30:05 PM,Closed,7110 Downman Rd,PINES VILLAGE,D,70126.0,30.023804,-90.024052

## Select only 2017 events

In [16]:
# convert ticket_closed_date_time to a pd.datetime field
calls_nocontact_simp['ticket_closed_date_time'] = pd.to_datetime(calls_nocontact_simp['ticket_closed_date_time'])

In [17]:
# create a time frame for the rows we want to select
mask = (calls_nocontact_simp['ticket_closed_date_time'] > '2017-1-1') & (calls_nocontact_simp['ticket_closed_date_time'] <= '2017-12-31')

In [18]:
# create a new DataFrame using the time frame above to select rows from the whole DataFrame
calls_nocontact_2017 = calls_nocontact_simp.loc[mask]

In [19]:
# Check the number of rows in our final DataFrame
len(calls_nocontact_2017)

45710

## Export to CSV

In [ ]:
# save our final DataFrame as a CSV file
calls_nocontact_2017.to_csv("311_calls_new.csv")